<!--<h1>
    {{title}} <i class="fa fa-home"></i>
</h1>-->

<!-- header -->
<header>
    <ul class="nav nav-tabs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
    </ul>
</header>

<main>
    <!--<router-outlet></router-outlet>-->
</main>

<!-- footer -->
<footer>
    <p>
        <a href="#" target="_top">Angular 2 - Router Animation Example</a>
    </p>
    <p>
        <a href="http://portfolio.gokemon.xyz/" target="_blank">portfolio.gokemon.xyz</a>
    </p>
</footer>